nav {}

.nav {
	//@extend .uk-navbar-nav;
	@extend .uk-hidden-small;
	flex-wrap: nowrap;
	//width: 100%;
	margin: 0 auto;
	float: none;
	> li{
		flex-grow: 1;
		flex-shrink: 1;

		&:nth-child(1){background: $brand-primary;}
		&:nth-child(2){background: $brand-colour2;}
		&:nth-child(3){background: $brand-colour8;}
		&:nth-child(4){background: $brand-colour1;}
		&:nth-child(5){background: $brand-colour5;}
		&:nth-child(6){background: $brand-colour6;}

		a {
			//display: table-caption;
			padding-top: 12px;
			padding-bottom: 15px;
			&:hover{
				background: rgba($brand-primary, 0.5);
				color: #fff;
			}
			//@extend .uk-h2;
		}
		
	}
}

